<%- include ("../partials/adminSidebar.ejs") %> 

      <div class="col py-3 mt-5">
      <div class="container mt-1 w-50 border ">

          <form action="/admin/postEditproduct/<%= productData._id %>" method="post" id="form"
            enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
              <h1>Edit Product</h1>
            </div>
            <div class="form-outline flex-fill mb-0 ">
              <label class="form-label" for="form3Example1c">Product name</label>
              <input type="text" value="<%=productData.name%>" name="name" id="name"
                class="form-control" data-validate = "Enter your name" required/>
            </div>
            <div class="form-outline flex-fill mb-0 mt-3">
              <label class="form-label" for="form3Example1c">Price </label>
              <input type="text" value="<%=productData.price%>" name="price" id="price" class="form-control" required />
            </div>
            <div class="form-outline flex-fill mb-0 mt-4">              
              <select required  class="form-select required" name="category" id="category"   aria-label="Default select example">
                <option selected value="<%=productData.category%>" disabled="disabled" required>Category</option>
                <% category.forEach((categories)=> {%>
                <option value="<%=categories._id%>" ><%=categories.category_name%></option>
                <% }) %>              
              </select>
            </div>
            <div class="form-outline flex-fill mb-0 mt-4">              
              <select required  class="form-select required" name="category" id="category"   aria-label="Default select example">
                <option selected value="<%=productData.subCategory%>" disabled="disabled" required>SubCategory</option>
                <% subCategory.forEach((subctgry)=> {%>
                <option value="<%=subctgry._id%>" ><%=subctgry.subcategory_name%></option>
                <% }) %>              
              </select>
            </div>
            <div class="form-outline flex-fill mb-0 mt-3">
              <label class="form-label" for="form3Example1c">Description</label>
              <input type="text" value="<%=productData.description%>" name="description" id="description"
                class="form-control" required/>
            </div>
            <div class="form-outline flex-fill mb-0 mt-3">
              <label class="form-label" for="form3Example1c">Stock</label>
              <input type="text" value="<%=productData.stock%>" name="stock" id="stock" class="form-control" required />
            </div>
            <div class="form-outline flex-fill mb-0 mt-3">
              <label for="formFile" class="form-label">Product image</label>
              <input class="form-control" type="file"  required name="myFiles"
                id="product_image" multiple>
              <input type="hidden" name="image1" value="<%= productData.image1 %>">
              <input type="hidden" name="image2" value="<%= productData.image2 %>">
              <input type="hidden" name="image3" value="<%= productData.image3 %>">
              <img src="../<%=productData.image1%>.jpg" id="imgView" alt="" style="width:100px;height:auto">
            </div>
            <div class="d-flex justify-content-center mt-1">
              <button type="submit" class="btn btn-success btn-block mb-4">Edit product</button>
            </div>
          </form>
        </div>
        <!-- <script>
          function viewImage(event) {
            document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
          }
        </script> -->
      </div>
    </div>
  </div>

  <%- include ("../partials/adminFooter.ejs")-%>