<%- include('../partials/templateHeader.ejs')  %> 

 
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
		<% if (locals.countInCart!==0) { %> 
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
								<th></th>
						        <th>Image</th>
						        <th>Product</th>
								<th>Size</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
								<% productData.forEach((product)=>{%>
						       <tr class="text-center  bg-light">
							
						        <td class="product-remove "><button onclick="removeProduct('<%= product._id %>','<%= product.productDetail._id %>')" class="btn btn-outline-dark"><span class="ion-ios-close"></span></button></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url(<%=product.productDetail.image3%>);"></div></td>
						        
						        <td class="product-name">
						        	<h3><%= product.productDetail.name %> </h3>
						        	<!-- <p><%=product.productDetail.description %> </p> -->
								
						        </td>

								<td>
									<h6><%=product?.productDetail?.size[0] %> </h6>
								</td>
						        

 

						        <td class="price"><%= product.productDetail.price%> ₹ </td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
										<span class="input-group-btn mr-2">
											<button type="button" onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',-1)" class="quantity-left-minus btn"  data-type="minus" data-field="">
										   <i class="ion-ios-remove"></i>
											</button>
											</span>
										 <input type="text" id="<%= product.productDetail._id %>" name="quantity" class="quantity form-control input-number" value="<%= product.productQuantity%>" min="1" max="100">
										 <span class="input-group-btn ml-2">
											<button type="button"  onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',1)" class="quantity-right-plus btn" data-type="plus" data-field="">
											 <i class="ion-ios-add"></i>
										 </button>
										 </span>
					          	</div>
								  <% var a=product.productDetail.price%>
								  <% var b=product.productQuantity%>
												<% var c=a*b %>
													<td >
														<%=c %> ₹
													
								 
					          </td>
						        
						        <!-- <td class="total"><%=product.productDetail.price%> ₹ </td> -->
						      </tr> 
							 

							  <% }) %>
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			<% if (locals.countInCart!==0) { %> 
			<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
							<% if(locals.sum!==0){%>
						<strong class="text-black"><%=sum%> ₹</strong>
							<% } else { %>
						<strong class="text-black">0 ₹</strong>
								<%}%>

    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
							<% if(locals.sum<1000) {%>
						<strong class="text-black">40 ₹</strong>
						<small class="text-danger">shop for 1000 or more to get free delivery</small>
						<% } else { %>
							<strong class="text-black">0₹(free delivery)</strong> 
							
						  <%}%>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
							<% if(locals.sum<1000) {%>
						<strong class="text-black"><%=sum+40%> ₹</strong>
						<% } else { %>
							<strong class="text-black"><%=sum%> ₹</strong>
							
						  <%}%>
    					</p>
    				</div>
    				<p class="text-center"><a href="" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
					<% } %>
    			</div>
    		</div>
			</div>
			<% } else { %>

				<div class=" container-fluid d-flex justify-content-center   ">
				  <img
					src="/images/6028969.png"
					
					id="imageCart" 
					class="img-fluid rounded mx-auto d-block mb-5"
					alt="image"
				  />
				
				</div>
				<div class="text-center">
					<a href="/shop"
					  ><button type="button" style="width:10rem;" class="btn btn-warning">shop Now</button></a
					>
				  </div>
			 
				
				<% } %>
		</section>

    		
			</div> 

			
		</section>
		<script src="../js/ajaxRequest.js"></script>

    <%- include('../partials/templateFooter.ejs')  %> 