
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CartPage</title>

	<link rel="stylesheet" href="/css/cartImage.css">


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">

	



</head>
<body class="goto-here ">

	
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
		  <a class="navbar-brand" href="/">SHOE HUB</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		  </button>

		  <div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	  <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
	  <li class="nav-item"><a href="/orderDetails" class="nav-link">Orders</a></li>
	  <li class="nav-item"><a href="" class="nav-link">contact</a></li>
	<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
			  <li class="nav-item cta cta-colored">
				<a href="#" class="nav-link"
				  ><span class="icon-shopping_cart"></span
				></a>
			  </li>
			  <li class="nav-item cta cta-colored">
				<a href="/viewWishlist" class="nav-link"
				  ><span class=" icon-heart"></span
				></a>
			  </li>
			  <li class="nav-item cta cta-colored">
				<a href="/profile" class="nav-link"
				  ><span class="icon-user"></span
				></a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>
	<!-- END nav -->
	

    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
		<% if (locals.countInCart!==0) { %> 
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class=" table">
						    <thead class="thead-primary">
						      <tr class="text-center">
								
						        <th>Image</th>
						        <th>Product</th>
								<th>Size</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
								<th>remove</th>
						      </tr>
						    </thead>
						    <tbody>
								<% productData.forEach((product)=>{%>
						       <tr class="text-center  bg-light">
							
						        
						        <td class="image-prod"><div class="img" style="background-image:url(<%=product?.productDetail?.image3%>);"></div></td>
						        
						        <td class="product-name">
						        	<h3><%= product?.productDetail?.name %></h3>
						        	
								
						        </td>

								<td>
									<h6><%=product?.productDetail?.size[0] %> </h6>
								</td>
						        

 

						        <td class="price"><%= product?.productDetail?.price%> ₹ </td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
										<span class="input-group-btn mr-2">
											<button type="button" onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',-1)" class="quantity-left-minus btn"  data-type="minus" data-field="">
										   <i class="ion-ios-remove"></i>
											</button>
											</span>
										 <input type="text" id="<%= product.productDetail._id %>" name="quantity" class="quantity form-control input-number" value="<%= product.productQuantity%>" min="1" max="100">
										 <span class="input-group-btn ml-2">
											<button type="button"  onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',1)" class="quantity-right-plus btn" data-type="plus" data-field="">
											 <i class="ion-ios-add"></i>
										 </button>
										 </span>
					          	</div>
								  <% var a=product.productDetail.price%>
								  <% var b=product.productQuantity%>
												<% var c=a*b %>
													<td >
														<%=c %> ₹
													
								 
					          </td>
						        
							  <td ><button id="remove" style="width: 2rem;" onclick="removeProduct('<%= product._id %>','<%= product.productDetail._id %>')" class="btn btn-outline-danger"><span class="ion-ios-close"></span></button></td>

						       
						      </tr> 
							 

							  <% }) %>
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			<% if (locals.countInCart!==0) { %> 
			<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
							<% if(locals.sum!==0){%>
						<strong class="text-black"><%=sum%> ₹</strong>
							<% } else { %>
						<strong class="text-black">0 ₹</strong>
								<%}%>

    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
							<% if(locals.sum<1000) {%>
						<strong class="text-black">40 ₹</strong>
						<small class="text-danger">shop for 1000 or more to get free delivery</small>
						<% } else { %>
							<strong class="text-black">0₹(free delivery)</strong> 
							
						  <%}%>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
							<% if(locals.sum<1000) {%>
						<strong class="text-black"><%=sum+40%> ₹</strong>
						<% } else { %>
							<strong class="text-black"><%=sum%> ₹</strong>
							
						  <%}%>
    					</p>
    				</div>
    				<p class="text-center"><a href="/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
					<% } %>
    			</div>
    		</div>
			</div>

			
			<% } else { %>

				<div class=" container-fluid d-flex justify-content-center   ">
				  <img
					src="/images/6028969.png"
					
					id="imageCart" 
					class="img-fluid rounded mx-auto d-block mb-5"
					alt="image"
				  />
				
				</div>
				<div class="text-center">
					<a href="/shop"
					  ><button type="button" style="width:10rem;" class="btn btn-warning">shop Now</button></a
					>
				  </div>
			 
				
				<% } %>
		</section>
			</div> 
		</section>

		<!--  -->
	
<footer class="ftco-footer ftco-section">
<div class="container">
  <div class="row">
    <div class="mouse">
      <a href="#" class="mouse-icon">
        <div class="mouse-wheel">
          <span class="ion-ios-arrow-up"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">SHOEHUB</h2>
        <p>
          "The right shoes can make everything different.”
        </p>
        <ul
          class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
        >
          <li class="ftco-animate">
            <a href=""><span class="icon-instagram"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md">
      <div class="ftco-footer-widget mb-4 ml-md-5">
        <h2 class="ftco-heading-2">Menu</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-2 d-block">Home</a></li>
          <li><a href="#" class="py-2 d-block">Catalog</a></li>
          <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          <li><a href="#" class="py-2 d-block">Profile</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Help</h2>
        <div class="d-flex">
          <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
            <li>
              <a href="#" class="py-2 d-block">Shipping Information</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
            </li>
            <li>
              <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
            </li>
            <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Have a Questions?</h2>
        <div class="block-23 mb-3">
          <ul>
            <li>
              <span class="icon icon-map-marker"></span
              ><span class="text"
                >HiLight business Park , calicut ,kerala</span
              >
            </li>
            <li>
              <a href="#"
                ><span class="icon icon-phone"></span
                ><span class="text">6238424753</span></a
              >
            </li>
            <li>
              <a href="#"
                ><span class="icon icon-envelope"></span
                ><span class="text">shoehub2023@gmail.com</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | This template is made 
        <i class="icon-heart color-danger" aria-hidden="true"></i> by
        <a href="https://colorlib.com" target="_blank">Shifin</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</div>
</footer>





  
  

        <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
        <script src="/js/ajaxRequest.js"></script>
		<script src="/js/jquery.min.js"></script> 
		<script src="/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.easing.1.3.js"></script>
		<script src="/js/jquery.waypoints.min.js"></script>
		<script src="/js/jquery.stellar.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/jquery.magnific-popup.min.js"></script>
		<script src="/js/aos.js"></script>
		<script src="/js/jquery.animateNumber.min.js"></script>
		<script src="/js/bootstrap-datepicker.js"></script>
		<script src="/js/scrollax.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="/js/google-map.js"></script>
		<script src="/js/main.js"></script>

		<script>
			$(document).ready(function(){
	
			var quantitiy=0;
			   $('.quantity-right-plus').click(function(e){
					
					// Stop acting like a button
					e.preventDefault();
					// Get the field name
					var quantity = parseInt($('#quantity').val());
										
						$('#quantity').val(quantity + 1);
	
					  
						
					
				});
	
				 $('.quantity-left-minus').click(function(e){
					e.preventDefault();
					var quantity = parseInt($('#quantity').val());
						if(quantity>0){
						$('#quantity').val(quantity - 1);
						}
				});
				
			});
		</script>

	


	</body>
	</html>

    