<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SHOEHUB</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css " />
    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/aos.css" />

    <link rel="stylesheet" href="/css/homepage.css" />

    <link rel="stylesheet" href="/css/ionicons.min.css" />

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="goto-here">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/">SHOE HUB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">contact</a></li>
            <%if(!loging){ %>
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
            <% }else { %>
            <li class="nav-item">
              <a href="/orderDetails" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
            <li class="nav-item cta cta-colored">
              <a href="/viewcart" class="nav-link"
                ><span class="icon-shopping_cart"></span
              ></a>
            </li>
            <li class="nav-item cta cta-colored">
              <a href="viewWishlist" class="nav-link"
                ><span class="icon-heart"></span
              ></a>
            </li>

            <li class="nav-item cta cta-colored">
              <a href="/profile" class="nav-link"
                ><span class="icon-user"></span
              ></a>
            </li>

            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->


    <!-- Start Banner -->
    <section id="home-section" class="hero">
      <div class="home-slider owl-carousel">
        <%bannerData.forEach((banner)=> { %>
        <div class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container-fluid p-0">
            <% if(bannerData.length){ %>
            <div
              class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
              data-scrollax-parent="true"
            >
              <img
                class="one-third order-md-last img-fluid"
                src="/images/<%=banner.bannerImage%>"
                alt=""
              />
              <div
                class="one-forth d-flex align-items-center ftco-animate"
                data-scrollax=" properties: { translateY: '70%' }"
              >
                <div class="text">
                  <span class="subheading">#<%=banner.couponName%></span>
                  <div class="horizontal">
                    <h1 class="mb-4 mt-3"><%=banner.offerType%></h1>
                    <p class="mb-4"><%=banner.bannerText%></p>

                    <p><a href="/shop" class="btn-custom">Discover Now</a></p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% })%>
      </div>
    </section>

    <!-- End Banner -->


    <!-- Start service -->

    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row no-gutters ftco-services">
          <div
            class="col-lg-4 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services p-4 py-md-5">
              <div
                class="icon d-flex justify-content-center align-items-center mb-4"
              >
                <span class="flaticon-bag"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services p-4 py-md-5">
              <div
                class="icon d-flex justify-content-center align-items-center mb-4"
              >
                <span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support Customer</h3>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services p-4 py-md-5">
              <div
                class="icon d-flex justify-content-center align-items-center mb-4"
              >
                <span class="flaticon-payment-security"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Secure Payments</h3>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End service -->


    <!--  Start product detail -->

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">New Shoes Arrival</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% product.forEach((products)=>{ %>
          <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
            <div class="product d-flex flex-column">
              <a href="/productView/<%=products._id %>" class="img-prod"
                ><img
                  class="img-fluid"
                  src="<%=products.image3%>"
                  alt="Colorlib Template"
                />
                <div class="overlay"></div>
              </a>
              <div class="text py-3 pb-4 px-3">
                <div class="d-flex">
                  <div class="cat">
                    <span>Lifestyle</span>
                  </div>
                  <div class="rating">
                    <p class="text-right mb-0">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <h3><a href="#"><%=products.name%> </a></h3>
                <div class="pricing">
                  <p class="price">₹<span><%=products.price%> </span></p>
                </div>
                <p class="bottom-area d-flex px-3">
                  <a
                  onclick="addToWishlist('<%= products._id %>')"
                    class="buy-now text-center py-2"
                    >ADD TO <span><i class="icon-heart"></i></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <% })%>
        </div>
      </div>
    </section>

    <!-- End Product  detail -->


    <!-- Start Offers -->
    <section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-4">
            <div
              class="choose-wrap divider-one img p-5 d-flex align-items-end"
              style="background-image: url(images/choose-1.jpg)"
            >
              <div class="text text-center text-white px-2">
                <span class="subheading">Men's Shoes</span>
                <h2>Men's Collection</h2>
                <p>
                  Separated they live in Bookmarksgrove right at the coast of
                  the Semantics, a large language ocean.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div
              class="row no-gutters choose-wrap divider-two align-items-stretch"
            >
              <div class="col-md-12">
                <div
                  class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end"
                  style="background-image: url(images/choose-2.jpg)"
                >
                  <div class="col-md-7 d-flex align-items-center">
                    <div class="text text-white px-5">
                      <span class="subheading">Women's Shoes</span>
                      <h2>Women's Collection</h2>
                      <p>
                        Separated they live in Bookmarksgrove right at the coast
                        of the Semantics, a large language ocean.
                      </p>
                      <p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <div
                      class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center"
                    >
                      <div class="text text-center px-5">
                        <span class="subheading">Summer Sale</span>
                        <h2>Grab The Offers</h2>
                        <p>
                          The greatest glory in living lies not in never
                          falling, but in rising every time we fall.
                        </p>
                        <p>
                          <a href="#" class="btn btn-black px-3 py-2"
                            >Shop now</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="choose-wrap wrap img align-self-stretch d-flex align-items-center"
                      style="background-image: url(images/choose-3.jpg)"
                    >
                      <div class="text text-center text-white px-5">
                        <span class="subheading">Shoes</span>
                        <h2>Kids Collection</h2>
                        <p>
                          Separated they live in Bookmarksgrove right at the
                          coast of the Semantics, a large language ocean.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End offers -->

  <script src="/js/ajaxRequest.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('../partials/templateFooter.ejs') %>
  </body>
</html>
